<!doctype html>
<html>
<head>
    <title>{{title}}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <link href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgBAMAAACBVGfHAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAGFBMVEUAAACAgIDAwMAAAAD//////wAAAP+AgACyGYBKAAAAAXRSTlMAQObYZgAAAAFiS0dEBI9o2VEAAAAHdElNRQfiBhgXAzXpQrjsAAAArklEQVQoz3WQQQ7CIBBF4QbS4gEsYV8DHkAc3Rev0Buw8PoOQ9KZjPGlm76+hE+N+cdJvdughC+r+OqcAxCJB8CHE1vqBiASH6OHFycj2NEE50g8KdgxybBSMQI0oTYqKOim3EjcR9BNQGGnhSmJVh08PG45R+aScctUmS3jXFlEXdRroKHMnOgqzNxUQcNk8W7jd/CQ1IUcklSx6KImo45pRh1D4iPowiTBan74AnnnVMHA9EjhAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDE4LTA2LTI0VDIzOjAzOjUzLTA0OjAwyUvdTwAAACV0RVh0ZGF0ZTptb2RpZnkAMjAxOC0wNi0yNFQyMzowMzo1My0wNDowMLgWZfMAAAAASUVORK5CYII=" rel="icon" type="image/png" />

    <style type="text/css">
    body, html {
        padding: 0;
        margin: 0;
    }
    ::-webkit-scrollbar {
        background: #2d3436;
    }
    ::-webkit-scrollbar-thumb {
        background: gray;
    }
    html {
        color: #dfe6e9;
        background-color: #2d3436;
        font-size: 1.5em;
        font-family: Helvetica, Arial, sans-serif;
        overflow-x: hidden;
        scrollbar-color: gray #2d3436;
        -webkit-tap-highlight-color: transparent;
    }
    body {
        font-family: sans-serif;
        background: rgba(0, 0, 0, 0.2);
    }
    a {
        color: #dfe6e9;
        text-decoration: none;
        background-color: transparent !important;
        outline: 0;
    }
    #grid {
        display: grid;
        grid-template-columns: auto  auto auto  auto;
        grid-gap: 20px;
    }
    #grid .dir,
    #grid .file {
        padding: 20px;
        text-align: center;
    }
    .file time, .file small {
        font-size: 0.5em;
    }
    .arrow {
        height: 22px;
        width: 22px;
        text-align: center;
        font-size: 1.15em;
        font-weight: bold;
        padding-left: .5em;
        filter: invert(100%) !important;
        padding-bottom: 4px;
    }
    .arrow-selected {
        background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0nMS4wJyBlbmNvZGluZz0ndXRmLTgnPz4KPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDEyOSAxMjkiIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxMjkgMTI5Ij4KICA8Zz4KICAgIDxwYXRoIGQ9Im00MC40LDEyMS4zYy0wLjgsMC44LTEuOCwxLjItMi45LDEuMnMtMi4xLTAuNC0yLjktMS4yYy0xLjYtMS42LTEuNi00LjIgMC01LjhsNTEtNTEtNTEtNTFjLTEuNi0xLjYtMS42LTQuMiAwLTUuOCAxLjYtMS42IDQuMi0xLjYgNS44LDBsNTMuOSw1My45YzEuNiwxLjYgMS42LDQuMiAwLDUuOGwtNTMuOSw1My45eiIvPgogIDwvZz4KPC9zdmc+Cg==");
        height: inherit;
    }
    .icon-folder {
        height: 27px;
        width: 27px;
        background-repeat: no-repeat;
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgBAMAAACBVGfHAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAIVBMVEUAAACZmQAICAj4+Pj//5n/+/DMzGYAAAD/zJkzMwD///9AsZvJAAAAAXRSTlMAQObYZgAAAAFiS0dECmjQ9FYAAAAHdElNRQfiBhgXARMJeV+TAAAAuElEQVQoz62QMQ7CQBADLyVlQKLmD/ABpC38AF5AgZSOR7i4kpbf4t3b4xLR4i6+sb1KKb+apf3qe7qY2fU0jIO5BjLdwhjI8dE0Nylx3uiZFS4YjfduAJADLCvCCNrKoAL2JajPyG0IZ9IQGzP1S2iSMdsMZgbshOIVsRsGs7WidzAm1IGaEfgNIugRxIJblXUQ/my1dXgaUaDLZDDm5HgiIvGqQyw7GJVOIO7oPzm1lN17o1f5gz69jIC7vf9PIQAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAxOC0wNi0yNFQyMzowMToxOS0wNDowMO2EXMYAAAAldEVYdGRhdGU6bW9kaWZ5ADIwMTgtMDYtMjRUMjM6MDE6MTktMDQ6MDCc2eR6AAAAAElFTkSuQmCC");
    }
    a.icon-folder {
        padding-left: 35px;
    }
    .hidden {
        display: none;
    }
    </style>
    <script type="text/javascript">
    const imgModal = document.getElementById("img_modal");
    const imgTypes = ['.jpg', '.jpeg', '.jpe', '.png', '.gif', '.avif', '.webp', '.heic'];
    const isImg = src => src && picTypes.find(type => src.toLocaleLowerCase().includes(type));
    const vidModal = document.getElementById("vid_modal");
    const videosTypes = ['.mp4', '.webm', '.mts', '.mov', '.ogv', '.ogg', '.mp3', '.flac', '.wav'];
    const isVideo = src => src && videosTypes.find(type => src.toLocaleLowerCase().includes(type));

    const gotoFile = function(e) {
        const file = e.pathname;
        if (isImg(file)) {
            showImg(file);
            return false;
        }
        if (isVideo(file)) {
            showVideo(file);
            return false;
        }

        return true;
    };
    const gotoFolder = function(e) {
        return true;
    };

    const showImg = function(file) {
        imgModal.style.display = "block";
        imgModal.firstChild.src = file;
    };
    const showVid = function(file) {
        vidModal.style.display = "block";
        vidModal.firstChild.src = file;
    }
    </script>
</head>

<body>
    <h1>{{title}}</h1>

    <div id="img_modal" class="modal hidden"><img draggable="false" /></div>
    <div id="vid_modal" class="modal hidden"><video controls></video></div>

    <section id="grid">
    {{#each folders}}
        <div class="dir">
            {{#if thumb}} <a href="{{path}}" onclick="return gotoFolder(event);"><img src="{{thumb}}" loading="lazy" /></a><br /> {{/if}}
            <a href="{{path}}" onclick="return gotoFolder(event);" class="icon-folder"><strong>{{name}}</strong></a>
        </div>
    {{/each}}
    {{#each files}}
        <div class="file">
            {{#if thumb}} <a href="{{path}}" onclick="return gotoFile(event);"><img src="{{thumb}}" loading="lazy" /></a><br /> {{/if}}
            <a href="{{path}}" onclick="return gotoFile(event);"><strong>{{name}}</strong></a><br />
            <small>{{size}} B</small><br />
            <time datetime="{{date_string}}">{{date_string}}</time>
        </div>
    {{/each}}
    </section>
</body>
</html>
