<!doctype html>
<html>
<head>
    <title>{{title}}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <link href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgBAMAAACBVGfHAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAGFBMVEUAAACAgIDAwMAAAAD//////wAAAP+AgACyGYBKAAAAAXRSTlMAQObYZgAAAAFiS0dEBI9o2VEAAAAHdElNRQfiBhgXAzXpQrjsAAAArklEQVQoz3WQQQ7CIBBF4QbS4gEsYV8DHkAc3Rev0Buw8PoOQ9KZjPGlm76+hE+N+cdJvdughC+r+OqcAxCJB8CHE1vqBiASH6OHFycj2NEE50g8KdgxybBSMQI0oTYqKOim3EjcR9BNQGGnhSmJVh08PG45R+aScctUmS3jXFlEXdRroKHMnOgqzNxUQcNk8W7jd/CQ1IUcklSx6KImo45pRh1D4iPowiTBan74AnnnVMHA9EjhAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDE4LTA2LTI0VDIzOjAzOjUzLTA0OjAwyUvdTwAAACV0RVh0ZGF0ZTptb2RpZnkAMjAxOC0wNi0yNFQyMzowMzo1My0wNDowMLgWZfMAAAAASUVORK5CYII=" rel="icon" type="image/png" />

    <style type="text/css">
    #grid {
        display: grid;
        grid-template-columns: auto  auto auto  auto;
        grid-gap: 20px;
    }
    #grid .dir,
    #grid .file {
        padding: 20px;
        text-align: center;
    }
    .hidden {
        display: none;
    }
    </style>
    <script>
        window.ro = {{read_only}}
        window.extraPath = {{base_path}}.slice(0, -1)
        window.onload = function () { js_will_be_here }
    </script>
</head>

<body>
    <h1>{{title}}</h1>

    <div id="pic_modal" class="modal hidden"><img draggable="false" /></div>
    <div id="vid_modal" class="modal hidden"><video controls></video></div>

    <section id="grid">
    {{#each folders}}
        <div class="dir">
            {{#if thumb}} <a href="{{path}}"><img src="{{thumb}}" loading="lazy" /></a> {{/if}}
            <a href="{{path}}"><strong>{{name}}</strong></a>
        </div>
    {{/each}}
    {{#each files}}
        <div class="file">
            {{#if thumb}} <a href="{{path}}"><img src="{{thumb}}" loading="lazy" /></a> {{/if}}
            <a href="{{path}}"><strong>{{name}}</strong></a> ({{size}} Bytes)
            {{date_string}}
        </div>
    {{/each}}
    </section>
</body>
</html>
